@import 'node_modules/bootstrap/scss/bootstrap.scss'
@import fonts
@import colors

body 
    font-family: 'SF UI Display Regular'
    background-color: #121212
    color: white

.header
    min-height: 90px
    border-bottom: 2px solid $gray-2
    background-color: rgba($dark, .8)
    &__logo
        margin-left: 8px
    &__menu-list 
        padding-left: 0rem
        margin-bottom: 0rem
    &__menu-list li 
        display: inline
        font-size: 16px
        font-family: 'SF UI Display Medium'
        font-weight: 500
        &:not(:last-child)
            margin-right: 60px

    &__menu-list--icon
        margin-right: 8px
        &:last-child
            margin-right: 0px
            margin-left: 8px

.first-screen
    background-image: url('../images/bg.jpg')
    background-position: center center
    background-repeat: no-repeat
    background-size: cover

    &__submenu ul
        padding-left: 0rem
        margin-top: 32px
        margin-bottom: 0rem
        & li 
            display: inline
            font-size: 16px
            font-family: 'SF UI Display Medium'
            font-weight: 500
            &:not(:last-child)
                margin-right: 40px

.big-logo
    margin-top: 160px
    &__heading
        margin-top: 60px
        font-family: 'SF UI Display Semibold'
        font-weight: 600
        font-size: 48px
        letter-spacing: 3%

.decorate
    display: block
    width: 64px
    height: 3px
    background-color: $primary-color
