include header
body
    header
        .container
            .row 
                .col-12 
                    .header.d-flex.justify-content-between.align-items-center
                        a(href="index.html")
                            picture.header__logo
                                source(type="image/webp" srcset="images/logo.webp")
                                source(type="image/png" srcset="images/logo.png")
                                img(src="images/logo.png", alt="logo" title="Логотип «Лабиринт»")
                        ul.header__menu-list
                            li
                                div.d-inline-block
                                    img.header__menu-list--icon(src="images/compass.svg", alt="")
                                    span Как добраться
                            li
                                div.d-inline-block
                                    img.header__menu-list--icon(src="images/map-marker.svg", alt="")
                                    span Схема ТРЦ
                            li
                                div.d-inline-block
                                    span Меню 
                                    img.header__menu-list--icon(src="https://via.placeholder.com/18x18", alt="")
                                    
    section.first-screen
        .container-fluid
            .container
                .row 
                    .col-12 
                        nav.first-screen__submenu.d-flex.justify-content-end.align-items-top
                            ul
                                li 
                                    a.d-inline-block(href="shops.html") Магазины
                                li 
                                    a.d-inline-block.active(href="events.html") События
                                li 
                                    a.d-inline-block(href="food.html") Еда
                                li 
                                    a.d-inline-block(href="services.html") Услуги
                                li 
                                    a.d-inline-block(href="entertainment.html") Развлечения

                .row
                    .col-12(data-aos="fade" data-aos-duration="300" data-aos-delay="200" data-aos-easing="ease-in")
                        h1.first-screen__title События

    section.content(data-aos="fade" data-aos-duration="400" data-aos-delay="500" data-aos-easing="ease-in")
        .container 
            .row
                .col-12
                    ul#isotope-filter
                        li 
                            a.isotope-btn.isotope-current-btn(href="" data-filter="*") Все
                        li 
                            a.isotope-btn(href="" data-filter=".news") Новости
                        li 
                            a.isotope-btn(href="" data-filter=".events") События
                        li 
                            a.isotope-btn(href="" data-filter=".sales") Акции

        .container
            #isotope-sort(data-aos="fade-down" data-aos-duration="400" data-aos-delay="500" data-aos-easing="ease-in")
                
                .col-4#isotope-sortable.news
                    .isotope-content-wrap
                        a(href="single-event.html")
                            .content__item.d-flex.flex-column
                                img.content__item-image(src="https://via.placeholder.com/350x200.webp", alt="")
                                .desc__wrap
                                    h2.content__item-title Событие 1
                                    .d-flex.flex-row.align-items-center
                                        .content__item-label.d-flex.flex-row.align-items-center
                                            img.content__item-place-icon(src="images/label.svg", alt="")
                                            span Новости

                .col-4#isotope-sortable.news
                    .isotope-content-wrap
                        a(href="single-event.html")
                            .content__item.d-flex.flex-column
                                img.content__item-image(src="https://via.placeholder.com/350x200.webp", alt="")
                                .desc__wrap
                                    h2.content__item-title Событие 2
                                    .d-flex.flex-row.align-items-center
                                        .content__item-label.d-flex.flex-row.align-items-center
                                            img.content__item-place-icon(src="images/label.svg", alt="")
                                            span Новости

                .col-4#isotope-sortable.events
                    .isotope-content-wrap
                        a(href="single-event.html")
                            .content__item.d-flex.flex-column
                                img.content__item-image(src="https://via.placeholder.com/350x200.webp", alt="")
                                .desc__wrap
                                    h2.content__item-title Событие 3
                                    .d-flex.flex-row.align-items-center
                                        .content__item-label.d-flex.flex-row.align-items-center
                                            img.content__item-place-icon(src="images/label.svg", alt="")
                                            span Событие
                                        .content__item-date.d-flex.flex-row.align-items-center
                                            img.content__item-place-icon(src="images/calendar.svg", alt="")
                                            span 21 мар

                .col-4#isotope-sortable.sales
                    .isotope-content-wrap
                        a(href="single-event.html")
                            .content__item.d-flex.flex-column
                                img.content__item-image(src="https://via.placeholder.com/350x200.webp", alt="")
                                .desc__wrap
                                    h2.content__item-title Событие 4
                                    .content__item-place.d-flex.flex-row.align-items-center
                                        img.content__item-place-icon(src="images/shop.svg", alt="")
                                        span Conacasa Conlanonna
                                    .d-flex.flex-row.align-items-center
                                        .content__item-label.d-flex.flex-row.align-items-center
                                            img.content__item-place-icon(src="images/label.svg", alt="")
                                            span Акции
                                        .content__item-date.d-flex.flex-row.align-items-center
                                            img.content__item-place-icon(src="images/calendar.svg", alt="")
                                            span 15 апр &ndash; 5 мая

    include footer
    include scripts

    script(src="js/isotope.pkgd.min.js")

    script.
        $(document).ready(function() {
            $('#isotope-sort').isotope({
                itemSelector: '#isotope-sortable'
            });
    
            $('#isotope-filter a').click(function(){
    
                $('#isotope-filter a').removeClass('isotope-current-btn');
                $(this).addClass('isotope-current-btn');
                var selector = $(this).attr('data-filter');
    
                $('#isotope-sort').isotope({
                    filter: selector,
                    animationOptions: {
                        duration: 1000,
                        easing: 'easeOutQuart',
                        queue: false
                    }
                });
                return false;
                });
            });