footer
    .container.footer
        .row
            .col-3
                .rights
                    span &copy;&nbsp;&laquo;Лабиринт&raquo; 2020
            .col-6
                address
                    .d-flex.justify-content-center
                        div
                            img(src="images/map-marker-gray.svg", alt="")
                            span.d-inline-block Московская Область, деревня Жуковка, ул. Жемчужная, д.&nbsp;57

            .col-3
                .socials.d-flex.flex-row.justify-content-end.align-items-center
                    div
                        img(src="images/facebook.svg", alt="")
                    div
                        img(src="images/vk.svg", alt="")
                    div
                        img(src="images/instagram.svg", alt="")

        .row 
            .col-12 
                .copyright.d-flex.justify-content-center
                    p 
                        span Разработка и продвижение: 
                        a(href="https://lampweb.ru/" target="_blank" rel="noreferrer noopener") lampweb.ru