include header

body
    header
        .container
            .row 
                .col-12 
                    .header.d-flex.justify-content-between.align-items-center.ultra-z-index
                        a(href="index.html")
                            picture.header__logo
                                source(type="image/webp" srcset="images/logo.webp")
                                source(type="image/png" srcset="images/logo.png")
                                img(src="images/logo.png", alt="logo" title="Логотип «Лабиринт»")
                        ul.header__menu-list
                            //-
                                li
                                    .d-inline-block
                                        img.header__menu-list--icon(src="images/compass.svg", alt="")
                                        span Как добраться
                                li
                                    .d-inline-block
                                        img.header__menu-list--icon(src="images/map-marker.svg", alt="")
                                        span Схема ТРЦ
                            li.d-flex.align-items-end.menu-icon__container
                                .button
                                    a.btn-open(href='#')
                                        span.d-inline-block.mr-2 Меню

        .overlay
            .container
                .row
                    .col-12
                        .wrap
                            .wrap-nav   
                                .d-flex.flex-column
                                    ul.d.flex.flex-row
                                        li
                                            a(href='#') О нас
                                        li
                                            a(href='#') Арендаторам
                                        li
                                            a(href='#') Контакты

                                    ul.d.flex.flex-row
                                        li
                                            a(href='shops.html') Магазины
                                        li
                                            a(href='events.html') События
                                        li
                                            a(href='food.html') Еда
                                        li
                                            a(href='services.html') Услуги
                                        li
                                            a(href='entertainment.html') Развлечения
                                    
    section.first-screen
        .container-fluid
            .container(data-aos="fade" data-aos-duration="600")
                .row 
                    .col-12 
                        nav.first-screen__submenu.d-md-flex.justify-content-md-end.align-items-md-top
                            ul
                                li 
                                    a.d-inline-block(href="shops.html") Магазины
                                li 
                                    a.d-inline-block(href="events.html") События
                                li 
                                    a.d-inline-block(href="food.html") Еда
                                li 
                                    a.d-inline-block(href="services.html") Услуги
                                li 
                                    a.d-inline-block(href="entertainment.html") Развлечения

        .big-logo
            .container
                .row 
                    .col-12(data-aos="fade-down" data-aos-duration="600" data-aos-delay="600")
                        .d-flex.justify-content-center
                            picture
                                source(type="image/webp" srcset="images/big-logo.webp")
                                source(type="image/png" srcset="images/big-logo.png")
                                img(src="images/big-logo.png", alt="logo")
                    .col-12(data-aos="fade-down" data-aos-duration="600" data-aos-delay="900")
                        h1.text-center.big-logo__heading Торгово&ndash;развлекательный центр

                    .col-12.d-flex.justify-content-center(data-aos="fade-down" data-aos-duration="600" data-aos-delay="900")
                        .decorate

                    .col-12.col-lg-10.offset-lg-1.big-logo__properties
                        .d-flex.justify-content-md-between.align-items-center.flex-column.flex-md-row.justify-content-center
                            .big-logo__properties-item.d-flex.flex-row(data-aos="fade-down" data-aos-duration="300" data-aos-delay="1200" data-aos-easing="ease-out-quart" data-aos-once="true")
                                img(src="images/elevator.svg", alt="")
                                div
                                    h2 4&nbsp;наземных этажа 1&nbsp;подземный этаж
                            .big-logo__properties-item.d-flex.flex-row(data-aos="fade-down" data-aos-duration="300" data-aos-delay="1500" data-aos-easing="ease-out-quart" data-aos-once="true")
                                img(src="images/parking.svg", alt="")
                                div
                                    h2 Парковка на&nbsp;20 машино&ndash;мест
                            .big-logo__properties-item.d-flex.flex-row(data-aos="fade-down" data-aos-duration="300" data-aos-delay="1800" data-aos-easing="ease-out-quart" data-aos-once="true")
                                img(src="images/square.svg", alt="")
                                div
                                    h2 Общая площадь: 6025&nbsp;м
                                        sup 2

                    .col-12
                        .d-flex.justify-content-center
                            .arrow(data-aos="fade" data-aos-duration="300" data-aos-delay="2700" data-aos-once="true")
                                span
                                span
                                span

    section.news(data-aos="fade" data-aos-duration="400" data-aos-easing="ease-in" data-aos-once="true")
        .container 
            .row 
                .col-12
                    h3.h3 Новости
                    .decorate
            .row 
                .col-12
                    .link-for-more
                        .d-flex.justify-content-end
                            a(href="events.html") все события →
        .container
            .row
                .col-6.col-md-4
                    .news__latest
                        ul.pl-0
                            li.d-inline-block
                                img.content__item-image(src="https://via.placeholder.com/350x200.webp", alt="")
                                h4 Организация бесплатной доставки из&nbsp;ресторанов
                .col-6.col-md-4
                    .news__latest
                        ul.pl-0
                            li.d-inline-block
                                img.content__item-image(src="https://via.placeholder.com/350x200.webp", alt="")
                                h4 Открытие кинотеатра
                .col-6.col-md-4
                    .news__latest
                        ul.pl-0
                            li.d-inline-block
                                img.content__item-image(src="https://via.placeholder.com/350x200.webp", alt="")
                                h4 Торгово-развлекательный центр введён в&nbsp;эксплуатацию
            .row 
                .col-12 
                    .block-divider

    section.brands(data-aos="fade" data-aos-duration="400" data-aos-easing="ease-in" data-aos-once="true")
        .container 
            .row 
                .col-12
                    h3.h3 Популярные бренды
                    .decorate

            .row 
                .col-12
                    .link-for-more
                        .d-flex.justify-content-end
                            a(href="shops.html") все магазины →

        .container
            .row.brands__items
                .col-6.col-lg-3
                    img.content__item-image(src="https://via.placeholder.com/256x144.webp", alt="")
                .col-6.col-lg-3
                    img.content__item-image(src="https://via.placeholder.com/256x144.webp", alt="")
                .col-6.col-lg-3
                    img.content__item-image(src="https://via.placeholder.com/256x144.webp", alt="")
                .col-6.col-lg-3
                    img.content__item-image(src="https://via.placeholder.com/256x144.webp", alt="")

        .container 
            .row 
                .col-12 
                    .block-divider


    section.food(data-aos="fade" data-aos-duration="400" data-aos-easing="ease-in" data-aos-once="true")
        .container
            .row 
                .col-12 
                    h3.h3 Рестораны
                    .decorate

            .row 
                .col-12
                    .link-for-more
                        .d-flex.justify-content-end
                            a(href="food.html") вся еда →

        .container
            .row.food__items
                .col-6.col-lg-3
                    img.content__item-image(src="https://via.placeholder.com/256x144.webp", alt="")
                    .desc__wrap
                        h4.food-heading Conacasa Conlanonna
                        p.food-description Итальянская кухня
                        .is-work
                            span.d-inline-block.working.is-work__mark
                            span.is-work__label Сейчас работает
                .col-6.col-lg-3
                    img.content__item-image(src="https://via.placeholder.com/256x144.webp", alt="")
                    .desc__wrap
                        h4.food-heading Pizza-Sushi-Wok
                        p.food-description Итальянская, азиатская и&nbsp;американская кухня
                        .is-work
                            span.d-inline-block.soon-closed.is-work__mark
                            span.is-work__label Закроется через 37 мин.
                .col-6.col-lg-3
                    img.content__item-image(src="https://via.placeholder.com/256x144.webp", alt="")
                    .desc__wrap
                        h4.food-heading Ёбидоёби
                        p.food-description Японская кухня
                        .is-work
                            span.d-inline-block.closed.is-work__mark
                            span.is-work__label Закрыто до 10:00
                .col-6.col-lg-3
                    img.content__item-image(src="https://via.placeholder.com/256x144.webp", alt="")
                    .desc__wrap
                        h4.food-heading Пхали хинкали
                        p.food-description Грузинская кухня
                        .is-work
                            span.d-inline-block.closed.is-work__mark
                            span.is-work__label Закрыто до 15.05.2020


    include footer
    include scripts