include header
body
    header
        .container
            .row 
                .col-12 
                    .header.d-flex.justify-content-between.align-items-center.ultra-z-index
                        a(href="index.html")
                            picture.header__logo
                                source(type="image/webp" srcset="images/logo.webp")
                                source(type="image/png" srcset="images/logo.png")
                                img(src="images/logo.png", alt="logo" title="Логотип «Лабиринт»")
                        ul.header__menu-list
                            //-
                                li
                                    .d-inline-block
                                        img.header__menu-list--icon(src="images/compass.svg", alt="")
                                        span Как добраться
                                li
                                    .d-inline-block
                                        img.header__menu-list--icon(src="images/map-marker.svg", alt="")
                                        span Схема ТРЦ
                            li.d-flex.align-items-end.menu-icon__container
                                .button
                                    a.btn-open(href='#')
                                        span.d-inline-block.mr-2 Меню

        .overlay
            .container
                .row
                    .col-12
                        .wrap
                            .wrap-nav   
                                .d-flex.flex-column
                                    ul.d.flex.flex-row
                                        li
                                            a(href='#') О нас
                                        li
                                            a(href='#') Арендаторам
                                        li
                                            a(href='#') Контакты

                                    ul.d.flex.flex-row
                                        li
                                            a(href='#') Магазины
                                        li
                                            a(href='#') События
                                        li
                                            a(href='#') Еда
                                        li
                                            a(href='#') Услуги
                                        li
                                            a(href='#') Развлечения
                                    
    section.first-screen
        .container-fluid
            .container
                .row 
                    .col-12 
                        nav.first-screen__submenu.d-flex.justify-content-end.align-items-top
                            ul
                                li 
                                    a.d-inline-block(href="shops.html") Магазины
                                li 
                                    a.d-inline-block(href="events.html") События
                                li 
                                    a.d-inline-block(href="food.html") Еда
                                li 
                                    a.d-inline-block.active(href="services.html") Услуги
                                li 
                                    a.d-inline-block(href="entertainment.html") Развлечения

                .row
                    .col-12(data-aos="fade" data-aos-duration="300" data-aos-delay="200" data-aos-easing="ease-in")
                        h1.first-screen__title Услуги

    section.content(data-aos="fade-down" data-aos-duration="400" data-aos-delay="500" data-aos-easing="ease-in")
        .container
            .row 
                .col-4
                    .content__item.d-flex.flex-column
                        img.content__item-image(src="https://via.placeholder.com/350x200.webp", alt="")
                        .desc__wrap
                            h2.content__item-title Бесплатный Wi-Fi

                .col-4
                    .content__item.d-flex.flex-column
                        img.content__item-image(src="https://via.placeholder.com/350x200.webp", alt="")
                        .desc__wrap
                            h2.content__item-title Гардероб

                .col-4
                    .content__item.d-flex.flex-column
                        img.content__item-image(src="https://via.placeholder.com/350x200.webp", alt="")
                        .desc__wrap
                            h2.content__item-title Информационная стойка



    include footer
    include scripts