include header
body
    header
        .container
            .row 
                .col-12 
                    .header.d-flex.justify-content-between.align-items-center
                        a(href="index.html")
                            picture.header__logo
                                source(type="image/webp" srcset="images/logo.webp")
                                source(type="image/png" srcset="images/logo.png")
                                img(src="images/logo.png", alt="logo" title="Логотип «Лабиринт»")
                        ul.header__menu-list
                            li
                                div.d-inline-block
                                    img.header__menu-list--icon(src="images/compass.svg", alt="")
                                    span Как добраться
                            li
                                div.d-inline-block
                                    img.header__menu-list--icon(src="images/map-marker.svg", alt="")
                                    span Схема ТРЦ
                            li
                                div.d-inline-block
                                    span Меню 
                                    img.header__menu-list--icon(src="https://via.placeholder.com/18x18", alt="")
                                    
    section.first-screen
        .container-fluid
            .container
                .row 
                    .col-12 
                        nav.first-screen__submenu.d-flex.justify-content-end.align-items-top
                            ul
                                li 
                                    a.d-inline-block.active(href="shops.html") Магазины
                                li 
                                    a.d-inline-block(href="events.html") События
                                li 
                                    a.d-inline-block(href="food.html") Еда
                                li 
                                    a.d-inline-block(href="services.html") Услуги
                                li 
                                    a.d-inline-block(href="entertainment.html") Развлечения

                .row
                    .col-12
                        h1.first-screen__title Магазины

    section.content
        .container
            .row 
                .col-4
                    a(href="single-shop.html")
                        .content__item.d-flex.flex-column
                            img.content__item-image(src="https://via.placeholder.com/350x200.webp", alt="")
                            .desc__wrap
                                h2.content__item-title Магазин 1
                                p.content__item-description Мужская одежда, женская одежда, детские&nbsp;товары
                .col-4
                    .content__item.d-flex.flex-column
                        img.content__item-image(src="https://via.placeholder.com/350x200.webp", alt="")
                        .desc__wrap
                            h2.content__item-title Магазин 2
                            p.content__item-description Ювелирные украшения и&nbsp;часы
                .col-4
                    .content__item.d-flex.flex-column
                        img.content__item-image(src="https://via.placeholder.com/350x200.webp", alt="")
                        .desc__wrap
                            h2.content__item-title Магазин 3
                            p.content__item-description Товары для дома
                .col-4
                    .content__item.d-flex.flex-column
                        img.content__item-image(src="https://via.placeholder.com/350x200.webp", alt="")
                        .desc__wrap
                            h2.content__item-title Магазин 4
                            p.content__item-description Мужская, женская и&nbsp;детская одежда
                .col-4
                    .content__item.d-flex.flex-column
                        img.content__item-image(src="https://via.placeholder.com/350x200.webp", alt="")
                        .desc__wrap
                            h2.content__item-title Магазин 5
                            p.content__item-description Обувь, сумки, аксессуары


    include footer
    include scripts