include header

body
    header
        .container
            .row 
                .col-12 
                    .header.d-flex.justify-content-between.align-items-center.ultra-z-index
                        a(href="index.html")
                            picture.header__logo
                                source(type="image/webp" srcset="images/logo.webp")
                                source(type="image/png" srcset="images/logo.png")
                                img(src="images/logo.png", alt="logo" title="Логотип «Лабиринт»")
                        ul.header__menu-list
                            //-
                                li
                                    .d-inline-block
                                        img.header__menu-list--icon(src="images/compass.svg", alt="")
                                        span Как добраться
                                li
                                    .d-inline-block
                                        img.header__menu-list--icon(src="images/map-marker.svg", alt="")
                                        span Схема ТРЦ
                            li.d-flex.align-items-end.menu-icon__container
                                .button
                                    a.btn-open(href='#')
                                        span.d-inline-block.mr-2 Меню

        .overlay
            .container
                .row
                    .col-12
                        .wrap
                            .wrap-nav   
                                .d-flex.flex-column
                                    ul.d.flex.flex-row
                                        li
                                            a(href='#') О нас
                                        li
                                            a(href='#') Арендаторам
                                        li
                                            a(href='#') Контакты

                                    ul.d.flex.flex-row
                                        li
                                            a(href='shops.html') Магазины
                                        li
                                            a(href='events.html') События
                                        li
                                            a(href='food.html') Еда
                                        li
                                            a(href='services.html') Услуги
                                        li
                                            a(href='entertainment.html') Развлечения


                                    
    section.first-screen
        .container-fluid
            .container
                .row 
                    .col-12 
                        .d-flex.justify-content-between
                            a.backstep(href="food.html") ← К еде
                            nav.first-screen__submenu.d-md-flex.justify-content-md-end.align-items-md-top
                                ul
                                    li 
                                        a.d-inline-block(href="shops.html") Магазины
                                    li 
                                        a.d-inline-block(href="events.html") События
                                    li 
                                        a.d-inline-block.active(href="food.html") Еда
                                    li 
                                        a.d-inline-block(href="services.html") Услуги
                                    li 
                                        a.d-inline-block(href="entertainment.html") Развлечения

                .row.single
                    .col-sm-3.d-none.d-sm-block(data-aos="fade" data-aos-duration="200" data-aos-delay="100" data-aos-easing="ease-in")
                        .single__logo
                            img(src="https://via.placeholder.com/270x200.webp", alt="")
                    .col-12.col-sm-9
                        span.single__theme(data-aos="fade" data-aos-duration="200" data-aos-delay="300" data-aos-easing="ease-in" data-aos-once="true") Еда
                        h1.single__title(data-aos="fade" data-aos-duration="200" data-aos-delay="450" data-aos-easing="ease-in" data-aos-once="true") Ресторан
                        ul.single__tags(data-aos="fade" data-aos-duration="200" data-aos-delay="600" data-aos-easing="ease-in" data-aos-once="true")
                            li
                                span Кафе и рестораны
                           
    section
        .container.single-content
            .row 
                .col-12.col-lg-8(data-aos="fade" data-aos-duration="200" data-aos-delay="750" data-aos-easing="ease-in" data-aos-once="true")
                    .single__image
                        img.z-fix(src="https://via.placeholder.com/760x400.webp", alt="")

                .col-12.col-lg-3.offset-lg-1(data-aos="fade" data-aos-duration="200" data-aos-delay="900" data-aos-easing="ease-in" data-aos-once="true" )
                    .single-content__info.d-flex.flex-column.align-items-center.d-lg-block
                        .floor
                            span 3
                            span этаж
                        .phone
                            span +7 (800) 555-35-35
                        .working-hours
                            span пт-пн:
                            span 10:00 ⸻ 22:00
                            span пт-вс:
                            span 10:00 ⸻ 01:00
                        .kitchens
                            p.mb-0 Азиатская, Европейская, Русская, Итальянская, Немецкая и&nbsp;Американская&nbsp;кухни 
                        .site
                            a(href="#" target="_blank") mysite.com
                        .socials
                            ul
                                li 
                                    a.fa.fa-facebook(href="#")
                                li 
                                    a.fa.fa-vk(href="#")
                                li 
                                    a.fa.fa-instagram(href="#")
                                li 
                                    a.fa.fa-google-plus(href="#")

        .container(data-aos="fade" data-aos-duration="400" data-aos-easing="ease-in" data-aos-once="true")
            .row.single-content__description
                .col-12.col-lg-8
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi ipsam possimus magni, est illum sunt perferendis accusantium aspernatur, atque velit totam. Id, eos delectus eum sapiente provident illo porro libero, nisi ipsam praesentium facilis reiciendis quis! Omnis eveniet nesciunt itaque laborum fuga necessitatibus atque tempore quasi voluptas dolorum dicta ducimus hic voluptates exercitationem laboriosam nihil quae quo, sit, architecto esse? Vero tempora fugit quia, porro alias tenetur iure quidem aliquid ab quasi maxime veniam ea autem? Fuga voluptas ducimus corrupti sequi repellendus veniam eligendi, natus modi quisquam adipisci delectus aperiam non sapiente ad debitis perspiciatis quos ipsa nisi atque beatae.
                .col-lg-4.d-none.d-lg-block
                    .d-flex.justify-content-center
                        img(src="https://via.placeholder.com/270x200.webp", alt="")

    include footer
    include scripts