include header

body
    .nav
        .nav__content
            ul.nav__list
                li.nav__list-item О нас
                li.nav__list-item Арендаторам
                li.nav__list-item Контакты
            .d-flex.flex-row.justify-content-start
                ul.nav__sublist.d-flex.flex-column.mr-3
                    li.nav__sublist-item Магазины
                    li.nav__sublist-item События
                    li.nav__sublist-item Еда
                ul.nav__sublist.d-flex.flex-column
                    li.nav__sublist-item Услуги
                    li.nav__sublist-item Развлечения

    header
        .container
            .row 
                .col-12 
                    .header.d-flex.justify-content-between.align-items-center.ultra-z-index
                        a(href="index.html")
                            picture.header__logo
                                source(type="image/webp" srcset="images/logo.webp")
                                source(type="image/png" srcset="images/logo.png")
                                img(src="images/logo.png", alt="logo" title="Логотип «Лабиринт»")
                        ul.header__menu-list
                            //-
                                li
                                    .d-inline-block
                                        img.header__menu-list--icon(src="images/compass.svg", alt="")
                                        span Как добраться
                                li
                                    .d-inline-block
                                        img.header__menu-list--icon(src="images/map-marker.svg", alt="")
                                        span Схема ТРЦ
                            li.d-flex.align-items-end.menu-icon__container
                                span.d-inline-block.mr-2 Меню

                                .menu-icon.float-right
                                    span.menu-icon__line.menu-icon__line-left
                                    span.menu-icon__line
                                    span.menu-icon__line.menu-icon__line-right

                                    
    section.first-screen
        .container-fluid
            .container
                .row 
                    .col-12 
                        .d-flex.justify-content-between
                            a.backstep(href="shops.html") ← Назад
                            nav.first-screen__submenu.d-flex.justify-content-end.align-items-top
                                ul
                                    li 
                                        a.d-inline-block.active(href="shops.html") Магазины
                                    li 
                                        a.d-inline-block(href="events.html") События
                                    li 
                                        a.d-inline-block(href="food.html") Еда
                                    li 
                                        a.d-inline-block(href="services.html") Услуги
                                    li 
                                        a.d-inline-block(href="entertainment.html") Развлечения

                .row.single
                    .col-3
                        .single__logo
                            img(src="https://via.placeholder.com/270x200.webp", alt="")
                    .col-9
                        span.single__theme Магазины
                        h1.single__title Магазин 1
                        ul.single__tags
                            li
                                span Мужская одежда
                            li
                                span Женская одежда
                            li
                                span Детские товары
                            li.single__special
                                span Есть доставка
                            li.single__special
                                span Есть программа лояльности
    section
        .container.single-content
            .row 
                .col-8 
                    .single__image
                        img.z-fix(src="https://via.placeholder.com/760x400.webp", alt="")

                .col-3.offset-1
                    .single-content__info
                        .floor
                            span 2
                            span этаж
                        .phone
                            span +7 (800) 555-35-35
                        .working-hours
                            span пт-пн:
                            span 10:00 ⸻ 22:00
                            span пт-вс:
                            span 10:00 ⸻ 23:00
                        .site
                            a(href="https://marksandspencer.ru" target="_blank") marksandspencer.ru
                        .socials
                            ul
                                li 
                                    img(src="https://via.placeholder.com/24x24.webp", alt="")
                                li 
                                    img(src="https://via.placeholder.com/24x24.webp", alt="")
                                li 
                                    img(src="https://via.placeholder.com/24x24.webp", alt="")
                                li 
                                    img(src="https://via.placeholder.com/24x24.webp", alt="")

        .container
            .row.single-content__description
                .col-8
                    p Marks &amp;&nbsp;Spencer&nbsp;&mdash; крупный британский бренд одежды, обуви и&nbsp;аксессуаров для всей семьи. Каждый сезон команда английских дизайнеров работает в&nbsp;поисках новых трендов и&nbsp;стильных решений для создания коллекций, которые из&nbsp;года в&nbsp;год радуют покупателей своей красотой и&nbsp;неизменными стандартами качества каждой вещи. В&nbsp;результате данной работы бренд Marks &amp;&nbsp;Spencer успел стать синонимом британского стиля, производства коллекций из&nbsp;высококачественных материалов, разработанных с&nbsp;применением новых технологий и&nbsp;воплощенных в&nbsp;женской одежде, белье, а&nbsp;также одежде для мужчин и&nbsp;детей. Marks &amp;&nbsp;Spencer ‒ компания, которой доверяют клиенты.
                .col-4
                    .d-flex.justify-content-center
                        img(src="https://via.placeholder.com/270x200.webp", alt="")

    include footer
    include scripts